@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes form-animation {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeInDynamicRoutingModal {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeInDynamicRoutingModal {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes spinDynRouting {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
}

@keyframes fadeInPacketTraffic {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(calc(-48% - 0.5px));
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(calc(-50% - 0.5px));
    }
}

@keyframes radar-sweep {
    0% {
        transform: translate(0, -50%) rotate(0deg);
    }

    100% {
        transform: translate(0, -50%) rotate(360deg);
    }
}

@keyframes radar-pulse {
    0% {
        width: 0;
        height: 0;
        opacity: 0.7;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes fadeInPopup {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}