.btn-yellow {
    width: fit-content;
    margin: auto;
    margin-top: 12px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: rgb(223, 191, 12);
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-yellow:hover {
    background-color: rgb(203, 171, 0) !important;
}

.btn-green {
    width: fit-content;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-green:hover {
    background-color: #45a049;
}

.btn-blue{
    padding: 12px 25px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-blue:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}