.dhcp-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    width: 500px;
}

.dhcp-form div {
    display: flex;
    gap: 5px;
}

.dhcp-form div label {
    text-align: center;
    margin: auto;
}

.dhcp-form input, select {
    width: 100px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    flex: 1;
}

.dhcp-form input:focus {
    outline: none;
    border-color: #666;
}

.dhcp-form button {
    width: 30%;
    padding: 10px;
    background-color: rgb(223, 191, 12);
    border: none;
    border-radius: 4px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
}

.dhcp-form button:hover {
    background-color: rgb(203, 171, 0);
}

.dhcp-form label {
    align-self: flex-start;
    font-weight: 500;
    color: #333;
}

.dhcp-form p {
    text-transform: uppercase;
    font-weight: bolder;
    margin: auto;
}

