.packet-traffic {
    position: absolute;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    background-color: white;
    padding: 20px;
    padding-bottom: 7px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    z-index: 2;
    /*opacity: 0;*/
    /*animation: fadeInPacketTraffic 0.3s ease forwards;*/
    border: 1px solid #ddd;
    min-width: 220px;
    max-height: 500px;
    overflow: auto;
    box-sizing: border-box;
}

.packet-traffic p {
    font-size: 20px;
    margin: 0 0 15px 0;
    color: #333;
    font-weight: 500;
}

.packet-traffic table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.packet-traffic table * {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 8px;
    transition: background-color 0.2s ease;
}

.packet-traffic table th {
    background-color: rgb(223, 191, 12);
    color: #333;
    font-weight: 600;
}

.packet-traffic table tr:hover {
    background-color: #f9f5d7;
}

.packet-traffic button {
    width: 50%;
    margin: auto;
    margin-top: 12px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: rgb(223, 191, 12);
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.packet-traffic button:hover {
    background-color: rgb(203, 171, 0);
    box-shadow: 0 2px 8px #ddd;
}

.filter-traffic{
    display: flex;
    margin: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.filter-traffic input {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: fff;
    color: #333;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter-traffic button{
    width: fit-content;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: auto;
}

.packet-traffic a {
    border: none;
    text-decoration: underline;
    color: blue;
}

.packet-traffic a:hover {
    cursor: pointer;
}

.packet-fields-modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    height: fit-content;
    border-radius: 8px;
    padding: 15px;
    max-height: 80vh;
    overflow-y: auto;
}

.packet-fields-modal table {
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: center;
}

.packet-fields-modal table th,
.packet-fields-modal table td {
    border: 1px solid #000;
    margin: 0;
    padding: 8px;
    min-width: 200px;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.packet-fields-modal .btn-close {
    width: 20%;
    margin: auto;
    margin-top: 12px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: rgb(223, 191, 12);
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.packet-fields-modal .btn-close:hover {
    background-color: rgb(203, 171, 0) !important;
}