@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('board.css');
@import url('browser.css');
@import url('dhcp-relay-form.css');
@import url('dhcp-server-form.css');
@import url('dns-server-form.css');
@import url('general-settings.css');
@import url('packet-traffic.css');
@import url('panel.css');
@import url('pc-form.css');
@import url('popup.css');
@import url('router-form.css');
@import url('terminal.css');
@import url('file-editor.css');
@import url('annotation.css');
@import url('0-animations.css');
@import url('0-buttons.css');
@import url('0-cursors.css');
@import url('advanced-options.css');
@import url('dynamic-routing-modal.css');
@import url('loading-screen.css');
@import url('dynamic-routing-icon.css');
@import url('file-upload.css');
@import url('tooltip.css');
@import url('modal-table.css');

:root {
    --inter: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --darkblue: #2A6BAC;
    --dark-mode-white: #e0e0e0;
    --dark-mode-black: #0d1117;
    --dark-mode-red: #c60300;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: var(--inter);
}

*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit;
}

#root {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    font-family: var(--inter);
}

img {
    object-fit: contain;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.modal-dark-mode {

    background-color: var(--dark-mode-black) !important;
    box-shadow: 0px 0px 10px rgb(255, 255, 255) !important;

    label {
        color: var(--dark-mode-white) !important;
    }

    input {
        &:disabled {
            color: var(--dark-mode-white) !important;
        }
    }

    input[type="checkbox"] {
        box-shadow: 0px 0px 10px var(--dark-mode-white) !important;
    }

    p {
        color: var(--dark-mode-white) !important;
    }
}
