.text-annotation {
    position: absolute;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 10ch;
    transition: width 0.2s ease;
    z-index: 1;
}

.text-annotation input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    background-color: transparent;
}