.board {
    width: 100dvw;
    height: 100dvh;
    background-image: 
        linear-gradient(to right, #A0E7E5 1px, transparent 1px),
        linear-gradient(to bottom, #A0E7E5 1px, transparent 1px);
    background-size: 10px 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
    position: relative;
    z-index: 1;


    &.dark-mode {
        background-color: var(--dark-mode-black);
        background-image: 
                linear-gradient(to right, rgba(70, 130, 130, 0.3) 1px, transparent 1px),
                linear-gradient(to bottom, rgba(70, 130, 130, 0.3) 1px, transparent 1px);
    }
}

.cable {
    position: absolute;
    z-index: -1;
}

.item-dropped {

    width: 80px;
    height: 80px;
    position: absolute;
    margin-left: -40px;
    margin-top: -40px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    
    img:hover {
        filter: brightness(0.8);
    }
    
    &:focus {
        outline: none;
    }
    
    .fire-container {

        position: absolute;
        top: -50%;
        left: 45%;
        transform: translate(-50%, -50%);
        position: relative;
        width: 90px;
        height: 50px;

        .fire-img {
            width: 100%;
            height: 100%;
            transform-origin: center bottom;
            animation: flicker 3s infinite alternate, glow 1s infinite alternate, sway 1s ease-in-out infinite;
        }
        
        
        .heat-haze {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(255, 140, 0, 0.1), transparent 70%);
            filter: blur(5px);
            animation: haze 4s ease-in-out infinite;
            pointer-events: none;
            z-index: -1;
        }
    }
    
}

circle:hover {
    cursor: pointer;
}
