.dns-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding-top: 0px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    z-index: 1000;
    animation: form-animation 0.25s ease-in-out;
    min-width: 300px;
    overflow: hidden;
    font-family: var(--inter);

    .window-frame {

        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 50px;
        background-color: var(--darkblue);
        border-radius: 5px 5px 0px 0px;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-transform: uppercase;
            font-weight: bolder;
            align-self: center;
            color: #fff;
        }

    }
    
    .nav-panel {
        padding: 0 0 0 30px;
    }

    section {
        padding: 0 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .form-item {
            
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;

            input:focus {
                outline: none;
                border-color: #666;
            }
            
            label {
                font-weight: 500;
                color: #333;
                white-space: nowrap;
                margin: auto;
            }

            input[type="text"],select {
                padding: 8px 12px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 14px;
                text-align: center;
                flex: 1;
            }

        }

        &.hidden {
            display: none;
        }

    }
    
    .dns-server-section {
        align-self: center;
    }
    
    .button-wrapper {
        align-self: center;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .table-wrapper {
        height: 200px;
        overflow: auto;
    }
    
    table {

        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        transition: all 0.2s ease;

        * {
            box-sizing: border-box;
            border: 1px solid #ddd;
            padding: 8px;
            transition: background-color 0.2s ease;
            text-align: center;
        }

        td,
        th {
            width: 150px;
        }

        th {
            background-color: rgb(223, 191, 12);
            color: #333;
            font-weight: 600;
        }

        tr:hover {
            background-color: #f9f5d7;
        }

        td {
            padding: 0px;
            margin: 0px;
            height: 40px;
        }

        .ip-field {

            display: flex;
            flex-direction: row;
            gap: 4px;
            border: none;

            p {
                font-weight: normal;
                border: none;
            }


        }
    }
}


