.dynamic-routing-modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 30px;
    padding-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 1000;
    animation: fadeInDynamicRoutingModal 0.3s ease-out;
}

.dynamic-routing-modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background-color: var(--darkblue);
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
    z-index: -1;
}

.dynamic-routing-modal h1 {
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    color: #fff;
    font-size: 30px;
}

.dynamic-routing-modal p {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.loader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1000;
    animation: spinDynRouting 2s linear infinite;
}

.default-network-routing-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
}

.default-network-routing-container .default-network-routing {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.5px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 0.5rem;
}

.default-network-routing-container .default-network-routing:disabled {
    background-color: rgb(164, 168, 166);
}

.dynamic-routing-modal .error-message {
    padding: 0px;
    margin: 0px;
    visibility: hidden;
    color: red;
}