.file-editor {
    position: absolute;
    top: 5%;
    left: 0;
    background: white;
    color: black;
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 14px;
    padding: 20px 30px;
    margin: 0px;
    width: calc(100%);
    height: calc(85%);
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
    z-index: 100;
    line-height: 1.5;
    tab-size: 4;
    overflow: auto;
}

.file-editor::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.file-editor::-webkit-scrollbar-track {
    background: #2c2c2c;
}

.file-editor::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

.file-editor::-webkit-scrollbar-thumb:hover {
    background: #666;
    cursor: pointer;
}

.editor-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 101;
}

.file-editor-error {    
    position: absolute;
    display: none;
    bottom: 0px;
    left: 50%;
    z-index: 101;
    color: red;
}

.editor-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 101;
    text-align: center;
    padding: 5px;
}

.editor-buttons {

    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    gap: 10px;
    box-sizing: border-box;
    background-color: white;
    width: 100%;

    p {
        color: black;
        width: fit-content;
        box-sizing: border-box;
        padding: 0px;
        margin-bottom: 15px;
        font-size: 20px;
        span {
            color: white;
            background-color: black;
            margin-right: 10px;
        }

    }

}
