body {
    margin: 0px;
    padding: 0px;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

img {
    object-fit: contain;
}
