#item-panel {

    position: fixed;
    left: 50dvw;
    bottom: 1dvh;
    transform: translate(-50%, 0);
    width: 65dvw;
    height: 10dvh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    animation: fadeIn 0.25s ease-in-out;

    &.hidden {
        display: none;
    }

    .item-panel-elements {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 16px;
        width: fit-content;
        height: 80%;
        box-sizing: border-box;
        background-color: 	#FAF9F6;
        border-radius: 12px;
        box-shadow: 0px 0px 5px black;
        border: 0.0005px solid rgba(0, 0, 0, 0.2);
    }

    .item {

        height: 80%;
        position: relative;
        border-radius: 8px;
        transition: transform 0.2s ease-out;
        animation: fadeInWithBlur 0.25s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        &:hover {
            cursor: pointer;
            transform: translateY(-2px);
            filter: brightness(1.1)
        }

        &.hidden {
            visibility: hidden;
        }

    }

}
