.popup-content {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1000;
    animation: fadeInPopup 0.3s ease-out;

    p {
        font-size: 1rem;
        font-weight: 500;
    }

    span {
        color: red;
    }

    img {
        width: 50px;
        height: 50px;
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    em {
        color: green;
    }

    &.dark-mode {

        background-color: var(--dark-mode-black);
        box-shadow: 0px 0px 10px var(--dark-mode-white);
        color: var(--dark-mode-white);


        p {
            color: white;
        }

        em {
            color: greenyellow;
        }

    }

}
